.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: linear-gradient(90deg, #0b132b, #020617);
  border-bottom: 1px solid #1f2933;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fbbf24;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.nav-left h3 {
  font-size: 15px;
}

.nav-left p {
  font-size: 12px;
  color: #9ca3af;
}

.nav-center {
  list-style: none;
  display: flex;
  gap: 22px;
  font-size: 14px;
  color: #d1d5db;
}

.nav-center li {
  cursor: pointer;
}

.nav-center li:hover {
  color: #ffffff;
}

.admin-btn {
  background-color: #f59e0b;
  color: #000;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
/* === Navbar profile image near name === */

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fbbf24;
  object-fit: cover;
}

.nav-left h3 {
  font-size: 15px;
  margin: 0;
}

.nav-left p {
  font-size: 12px;
  margin: 0;
  color: #9ca3af;
}

