* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #0d0d0d;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
